.info__contact {
    opacity: 0;
    transform: translateY(30px);
    transition: .8s;
}

.info__contact.muncul {
    opacity: 1;
    transform: translateY(0);
}

.info__contact h3 {
    font-size: 18px;
}

.box-form {
    opacity: 0;
    transform: translateY(50px);
    transition: .8s;
    background-color: white;
}

.box-form.muncul {
    opacity: 1;
    transform: translateY(0);
}