.sertificate img{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s;
}

.sertificate img.muncul {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 991.98px) {
    .img-sertifikat{
        margin-bottom: 40px;
    }
}