.sub-title {
    opacity: 0;
    transition: .8s;
    transform: translateY(30px);
}

.sub-title.muncul {
    opacity: 1;
    transform: translateY(0);
}

.skills .skill-language {
    width: 125px;
    margin: auto;
}

.skill-language {
    opacity: 0;
    transition: .8s;
    transform: translateY(30px);
}

.skill-language.muncul {
    opacity: 1;
    transform: translateY(0);
}

.skills .skill-language img {
    transition: all .8s;
    cursor: pointer;
}

.skills .skill-language img:hover {
    transform: scale(1.3);
}

.skills .skill-language p {
    text-transform: uppercase;
    padding-top: 10px;
}


@media (max-width: 767.98px) {
    .sub-title {
        font-size: 45px;
    }
}